# Python cache
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
env/
venv/
ENV/
.VENV/
.venv/

# VS Code settings
.vscode/

# System files
.DS_Store
Thumbs.db

# Environment variables
.env

# Flask logs
*.log

# Downloads folder
downloads/

# Ignore ffmpeg and yt-dlp
ffmpeg-7.1.1-full_build/
ffmpeg.exe
yt-dlp/
yt-dlp.exe

# PyInstaller
*.spec
build/
dist/

# Test, coverage, etc.
htmlcov/
.tox/
.nox/
.coverage
.pytest_cache/
.hypothesis/

# Jupyter
.ipynb_checkpoints

# PyCharm
.idea/

# Mypy, Ruff, Type checking
.mypy_cache/
.ruff_cache/
.pyre/
.pytype/

# Rope project
.ropeproject/

# Others
*.egg-info/
